//page colors variables
$page-bg-color:                                 #282c34;

//page height and width variables
$page-height:                                   100vh;


//page font sizes variables
$base-font-size:                                1rem;